/* Variables */

// Base color
$blue:rgb(14, 143, 253);
// $blue:rgb(12,24,61);
$backgroundColor:rgb(17, 33, 75);
$cardBackgroundColor:rgb(17, 49, 109);
$tagBgColor:rgb(16, 44, 98);
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// Sidebar
$sideBarWidth: 210px;
$subMenuBg:#1f2d3d;
$subMenuHover:rgb(14, 143, 253);
$subMenuActiveText:#f4f4f5;
$menuBg:rgb(23, 43, 94);
$menuText:#bfcbd9;
$menuActiveText:rgb(19, 120, 252); // Also see settings.sidebarTextTheme

// Login page
$lightGray: #eee;
$darkGray:#889aa4;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;

$normalMargin:20px;
$smallMargin:12px;
$miniMargin:6px;

.el-menu {
  .is-active {
    background-color: $subMenuHover !important;
    color: $subMenuActiveText !important;
  }
}

.el-form {
  .el-form-item__label {
    color: white !important;
    text-align: left !important;
  }

  .el-input__inner {
    background-color: rgba($color: #000000, $alpha: 0);
    color: white;
  }
  .el-radio-button__inner{
    background-color: rgba($color: #000000, $alpha: 0);
    color: white;
  }
}

.el-table {
  color: rgba($color: #fff, $alpha: 0.8);
  background-color: rgba($color: #000000, $alpha: 0) !important;
  border-color: rgba($color: #fff, $alpha: 0.05) !important;
  border-width: 0.5px !important;
  // border-right-style: sloid !important;
  // border-bottom-style: sloid !important;
  border: 0.5px solid !important;

  tr,
  th {
    background-color: rgba($color: #000000, $alpha: 0) !important;
    border-color: rgba($color: #fff, $alpha: 0.3) !important;
    color: rgba($color: #fff, $alpha: 0.8) !important;
  }

  * {
    border-color: rgba($color: #fff, $alpha: 0.1) !important;
  }
}


*::-webkit-scrollbar {
  //设置整个滚动条宽高
  width: 6px;
  height: 100%;
}

*::-webkit-scrollbar-thumb {
  //设置滑块
  width: 4px;
  height: 60px;
  background-color: rgba($color: #000000, $alpha: 0);
  border-radius: 3px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0,0,0, .2); //设置背景透明
}

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuBg: $subMenuBg;
}
